
<link rel="stylesheet" type="text/css" href="assets/css/login.css">
<link rel="stylesheet" type="text/css" href="assets/css/home.css">
<link rel="stylesheet" type="text/css" href="assets/css/codrops/normalize.css">
<link rel="stylesheet" type="text/css" href="assets/css/codrops/buttons.css">



<div class="container-fluid">

  <div class="row">

    <div class="col-md-6 full-height-col"> 

      <div class="jumbotron" id="heading">

          <h1>COLLEGE CARPOOL</h1>
          <div class="row front_page_text">
            <text>Discover. Meet. Carpool.</text>
          </div>
          
             <text class="text2">Discovers carpoolers near you who share your same college. <br>Help beat the pollution in Delhi by carpooling.</text>
          

      </div>

      <div class="row">

        <div class="row front_page_button">

            <a>
              <button  ng-morph-modal="example1" class="button button--tamaya button--border-thick" data-text="LOGIN">Your carpool awaits you!</button>
            </a>

        </div>
  
        <div class="row front_page_button">

            <a ui-sref="form">  
              <button class="button button--tamaya button--border-thick" data-text="SIGN UP">Welcome abord!</button>  
            </a>


        </div>



      </div>

    </div>

    <div class="col-md-6 full-height-col"> 
      <div id="map_canvas_front_page" class="map"></div>
    </div>

  </div>

</div>
<div id="map_canvas_front_page"></div>