
<div class="container">
<h3> {{loggedin_user_data.firstname}} {{loggedin_user_data.lastname}}'s carpool friends </h3>

<hr>

	<div class="my-carpool-panel">
		<div class="carpool-panel-sub">
			<div class="panel-icon">
		        <notification-icon count='no_of_requests'>
		            <a> <i class="fa fa-envelope fa-3x"></i></a>
		        </notification-icon>
	        </div>
		<button ng-click="RequestList()" class="button button--tamaya button--border-thick" data-text="PENDING REQUESTS">Approve Pending requests</button>
		</div>

		<div class="carpool-panel-sub">
			<div class="panel-icon">
		         <notification-icon count='no_of_carpoolers'>
		            <a><i class="fa fa-car fa-3x"></i></a>
		        </notification-icon>
	        </div>
		<button ng-click="CarpoolerList()" class="button button--tamaya button--border-thick" data-text="MY CARPOOLERS">Your current carpool friends</button>
		</div>
	</div>


<hr>


</div>

			
