<link href='http://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="assets/css/profile/settings.css">

<div class="container1">
	<div class="content">
		<div class="grid">
			<figure class="effect-lily">
				<img src="assets/img/profile/images/12.jpg" alt="img12"/>
				<figcaption>
					<div>
						<h2>ADD <span>COLLEGE</span></h2>
						<p>Request addition of a new college into the system.</p>
					</div>
					<a ng-click="add_college()">View more</a>
				</figcaption>			
			</figure>
		</div>
	</div>

	<div class="content">
		<div class="grid">
			<figure class="effect-lily">
				<img src="assets/img/profile/images/12.jpg" alt="img12"/>
				<figcaption>
					<div>
						<h2>CHANGE <span>USER INFO</span></h2>
						<p>Request addition of a new college into the system.</p>
					</div>
					<a ng-click="submit">View more</a>
				</figcaption>			
			</figure>
		</div>
	</div>
	<div class="content">
		<div class="grid">
			<figure class="effect-lily">
				<img src="assets/img/profile/images/12.jpg" alt="img12"/>
				<figcaption>
					<div>
						<h2>CHANGE <span>LOGIN CREDENTIALS</span></h2>
						<p>Request addition of a new college into the system.</p>
					</div>
					<a href="#">View more</a>
				</figcaption>			
			</figure>
		</div>
	</div>


</div><!-- /container -->
