<link rel="stylesheet" type="text/css" href="assets/css/form.css">

  <div id="form-container">

      <div class="flexbox">

        <div class="col">
          <h1>Let's sign you up!</h1>
        </div>

        <div class="col navg">

            <div class="block">
            <a ui-sref-active="active" ui-sref=".profile">
              <i class="hovicon effect-7 sub-b">
                  1
              </i>
            </a>
            </div>

            <div class="block">
            <a ui-sref-active="active" ui-sref=".interests">
              <i class="hovicon effect-7 sub-b">
                  2
              </i>
             </a>
            </div>
            
        </div>

      </div>


      <div class="row">
        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <form id="signup-form" ng-submit="processForm()">
            <!-- our nested state views will be injected here -->
            <div id="form-views" ui-view></div>
        </form>
      </div>
        <div class="row">
  <pre>
        <text>{{ formData }}</text>
</pre>
</div>
  </div>




                