<!-- form-interests.html -->
<h4>Login Credential Information</h4>


<div class="form-group">

    <div class="row">

        <div class="col-md-8" id="login-info-form">
            <div>
            <label for="firstname" id="label">Username:</label>
            <input type="text" class="form-control" id="firstname" ng-model="formData.name.first">
            </div>
            <div>
            <label for="lastname" id="label">Password:</label>
            <input type="text" class="form-control" id="lastname" ng-model="formData.name.last">
            </div>
            <div>
            <label for="email" id="label">Email:</label>
            <input type="email" class="form-control" id="email" ng-model="formData.contact.email">
            </div>
                        <div>
            <label for="firstname" id="label">Username:</label>
            <input type="text" class="form-control" id="firstname" ng-model="formData.name.first">
            </div>
            <div>
            <label for="lastname" id="label">Password:</label>
            <input type="text" class="form-control" id="lastname" ng-model="formData.name.last">
            </div>
            <div>
            <label for="email" id="label">Email:</label>
            <input type="email" class="form-control" id="email" ng-model="formData.contact.email">
            </div>
                        <div>
            <label for="firstname" id="label">Username:</label>
            <input type="text" class="form-control" id="firstname" ng-model="formData.name.first">
            </div>
            <div>
            <label for="lastname" id="label">Password:</label>
            <input type="text" class="form-control" id="lastname" ng-model="formData.name.last">
            </div>
            <div>
            <label for="email" id="label">Email:</label>
            <input type="email" class="form-control" id="email" ng-model="formData.contact.email">
            </div>
                        <div>
            <label for="firstname" id="label">Username:</label>
            <input type="text" class="form-control" id="firstname" ng-model="formData.name.first">
            </div>
            <div>
            <label for="lastname" id="label">Password:</label>
            <input type="text" class="form-control" id="lastname" ng-model="formData.name.last">
            </div>
            <div>
            <label for="email" id="label">Email:</label>
            <input type="email" class="form-control" id="email" ng-model="formData.contact.email">
            </div>
        </div>

        <div class="col-md-4">
            
                <no-captcha
                    g-recaptcha-response="formData.CaptchaControl"
                    theme='light'
                    control="CaptchaControl"
                    site-key="6Ler6xgTAAAAAOTg3ammRxsjM4yCMfRqEPSF1yta">
                </no-captcha>
                <div class="col-md-4">
                 <div class="box bg-1">
                    <button class="button button--winona button--border-thick" data-text="SUMBIT"><span>SUBMIT</span></button>
                </div>
                </div>
        </div>

    </div>


</div>

